In [35]:
import pandas as pd
#pd.__version__
#df = pd.read_csv('yellow_tripdata_2023-01.csv', nrows=100)
#df
#df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
#print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

In [36]:
from sqlalchemy import create_engine

In [37]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [38]:
#print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

In [39]:
df_iter = pd.read_csv('yellow_tripdata_2023-01.csv', iterator=True, chunksize=100000)

In [40]:
df = next(df_iter)

In [41]:
#len(df)

In [42]:
#df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [43]:
#df.head(n=0)

In [44]:
#print(pd.io.sql.get_schema(df.head(n=0),name='yellow_taxi_data',con=engine))

In [45]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [46]:
#%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [47]:
from time import time

In [49]:
while True:
    t_start= time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end= time()
    print('inserted another chunk...took %.3f seconds' % (t_end - t_start))

StopIteration:

In [55]:
query="""
select * from yellow_taxi_data limit 10;

"""
pd.read_sql(query,con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,100000,2,2023-01-02 14:33:57,2023-01-02 14:46:17,3.0,3.36,1.0,N,161,125,2,16.3,0.0,0.5,0.00,0.0,1.0,20.30,2.5,0.0
1,100001,2,2023-01-02 14:55:40,2023-01-02 15:12:32,2.0,3.97,1.0,N,261,230,1,20.5,0.0,0.5,0.00,0.0,1.0,24.50,2.5,0.0
2,100002,2,2023-01-02 14:40:05,2023-01-02 15:01:28,1.0,4.98,1.0,N,158,236,1,24.7,0.0,0.5,5.74,0.0,1.0,34.44,2.5,0.0
3,100003,1,2023-01-02 14:04:32,2023-01-02 14:08:18,1.0,1.10,1.0,N,233,137,1,6.5,2.5,0.5,1.00,0.0,1.0,11.50,2.5,0.0
4,100004,1,2023-01-02 14:13:06,2023-01-02 14:22:52,1.0,1.50,1.0,N,233,43,1,10.0,2.5,0.5,2.80,0.0,1.0,16.80,2.5,0.0
5,100005,1,2023-01-02 14:49:35,2023-01-02 14:57:00,1.0,1.20,1.0,N,263,239,1,8.6,2.5,0.5,2.50,0.0,1.0,15.10,2.5,0.0
6,100006,1,2023-01-02 14:58:50,2023-01-02 15:09:07,1.0,2.30,1.0,N,239,161,1,12.8,2.5,0.5,3.35,0.0,1.0,20.15,2.5,0.0
7,100007,1,2023-01-02 14:19:52,2023-01-02 14:42:56,3.0,2.50,1.0,N,144,186,2,19.8,2.5,0.5,0.00,0.0,1.0,23.80,2.5,0.0
8,100008,1,2023-01-02 14:46:35,2023-01-02 15:08:58,1.0,1.40,1.0,N,186,137,1,17.7,2.5,0.5,2.00,0.0,1.0,23.70,2.5,0.0
9,100009,2,2023-01-02 14:41:02,2023-01-02 14:54:26,1.0,2.58,1.0,N,249,170,2,15.6,0.0,0.5,0.00,0.0,1.0,19.60,2.5,0.0